@redteam: orangered;
@blueteam: #9494ff;

.transition (@property, @duration, @function: ease, @delay: 0s) {
    -webkit-transition: @arguments;
    -moz-transition: @arguments;
    -o-transition: @arguments;
    -ms-transition: @arguments;
    transition: @arguments;
}

.transform (...) {
    -webkit-transform: @arguments;
    -moz-transform: @arguments;
    -o-transform: @arguments;
    transform: @arguments;
}

.no-select {
    -webkit-user-select: none;
    -moz-user-select: none;
    -o-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

@font-face {
    font-family: 'TF2';
    src: url('//redditstatic.s3.amazonaws.com/TF2.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

.panel {
    z-index: 10000;

    .title-bar {
        display: inline-block;
        float: right;
        height: 20px;
        line-height: 20px;
        padding: 0 5px;
        background: #cee3f8;
        border: 1px solid #5f99cf;
        border-bottom: 0;
        border-radius: 3px 3px 0 0;
    }

    .minimize-button {
        @size: 14px;
        width: @size;
        height: @size;
        line-height: @size;
        background: white;
        border: 1px solid black;
        font-size: @size;
        font-weight: bold;
        text-align: center;
        opacity: .65;
        z-index: 100;
    }

    .title-bar, .minimize-button {
        cursor: pointer;
        .no-select;
    }

    .panel-content {
        clear: both;
        overflow: hidden;
        max-height: 9999px;
        .transition(max-height, 0.25s);
    }

    &.minimized {
        .panel-content {
            max-height: 0 !important;
        }
    }
}

#items-panel {
    position: fixed;
    right: 5px;
    bottom: 0;

    .minimize-button {
        display: none;
    }

    .panel-content {
        box-shadow: 0 0 8px 1px rgba(0, 0, 0, .1);
    }
}

.item-view, .login-message {
    @border-width: 1px;
    @icon-size: 64px;
    @item-width: @icon-size + 10px;
    @item-margin: 10px;
    @width: 2 * (@item-width + 2 * @item-margin);

    background: white;
    padding: 8px;
    border: 1px solid #5f99cf;
    border-bottom: 0;
    overflow: hidden;
    overflow-y: auto;

    & > .title {
        text-align: center;
        font-weight: bold;
        color: #555;
    }

    ul {
        width: @width;
    }

    .item {
        display: block;
        float: left;
        width: @item-width;
        height: @item-width + 20px;
        margin: @item-margin;
        text-align: center;

        .icon {
            display: inline-block;
            @border-width: 2px;
            width: @icon-size - 2 * @border-width;
            height: @icon-size - 2 * @border-width;
            background: #cee3f8;
            border: @border-width solid #5f99cf;
            border-radius: 6px;
            background-position: center center;
            background-repeat: no-repeat;

            &.uncommon {
                background: #80BF88;
                border-color: green;
            }

            &.rare {
                background: #C99AD9;
                border-color: #bf00ff;
            }

            &.artifact {
                background: #FFC078;
                border-color: #ff8800;
            }
        }

        .title {
            padding: 2px 0;
            text-transform: lowercase;
        }
    }

    &.inventory-view {
        height: 300px;

        .item {
            cursor: pointer;
        }
    }

    &.myeffects-view {
        max-height: 230px;

        .icon {
            border-style: dotted;
        }
    }

    &.login-message {
        width: @width;
        p {
            font-size: 1.65em;
            padding: 1em;
        }
    }
}


.item-bubble {
    z-index: 15000;
    width: 200px;
    padding: 14px;
    position: fixed;

    h1 {
        margin: 0 0 5px 0;
        font-size: medium;
        font-variant: small-caps;
        font-weight: bold;
        text-align: center;
    }

    img {
        margin: 0 30px;
    }

    p.targets {
        font-variant: small-caps;
        text-align: center;
    }

    .flavor p {
        font-style: italic;
        margin-top: 5px;
    }

    strong {
        font-weight: bold;
    }
}

@score-panel-width: 600px;
#score-panel {
    position: fixed;
    right: 50%;
    margin-right: -@score-panel-width / 2;
    bottom: 0;

    .minimize-button {
        position: absolute;
        right: 2px;
        top: 25px;
    }

    .title-bar {
        opacity: 0;
        .transition(opacity, 0.2s, ease)
    }

    &.minimized {
        .title-bar {
            opacity: 1;
            .transition(opacity, 0.5s, ease, 0.25s)
        }
    }
}

.score-view {
    @height: 80px;
    @box-height: 50px;
    width: @score-panel-width;
    height: @height;

    .score {
        position: relative;
        font-size: 90px;
        font-family: 'TF2', sans-serif;
        letter-spacing: -.05em;
        color: white;
        text-shadow:
            1px 1px 1px black,
            -1px 1px 0 black,
            1px -1px 0 black,
            -1px -1px 0 black
            ;
        margin: -35px 8px 0 8px;
        z-index: 10;
    }

    .team {
        position: relative;
        display: inline-block;
        width: @score-panel-width / 2 - 5px;
        margin-top: @height - @box-height;
        height: @box-height;

        .team-label {
            position: absolute;
            bottom: 15px;
            color: white;
            font-size: 16px;
            font-weight: bold;
            z-index: 10;
        }

        &.blue-team {
            float: left;

            .score {
                float: right;
            }

            .team-label {
                left: 10px;
            }

            &:after {
                background: @blueteam;
                box-shadow: 0 2px 0 darken(@blueteam, 20%);
            }
        }

        &.red-team {
            float: right;

            .team-label {
                right: 10px;
            }

            .score {
                float: left;
            }

            &:after {
                background: @redteam;
                box-shadow: 0 2px 0 darken(@redteam, 20%);
            }
        }

        &:after {
            position: absolute;
            content: '';
            display: block;
            left: 0;
            top: 0;
            right: 0;
            bottom: 10px;
            color: white;
            border-radius: 8px;
            opacity: .65;
        }
    }
}

#f2p-target-overlay {
    .shade {
        position: fixed;
        left: 0;
        top: 0;
        right: 0;
        bottom: 0;
        background: black;
        opacity: .25;
        z-index: 1000;
    }

    .instructions {
        position: fixed;
        left: 0;
        top: 0;
        right: 0;
        padding: .5em;
        background: white;
        border-bottom: 3px solid gray;
        text-align: center;
        font-size: 2em;
        opacity: .85;
        z-index: 100000;
    }

    .target-overlay {
        .target-bg, .target-cover {
            position: absolute;
            padding: 2px;
            margin: -2px;
            border-radius: 2px;
        }

        .target-bg {
            background: white;
            z-index: 9000;
            box-shadow: 0 0 3px 1px fade(orangered, 50%);

            &.target-account {
              z-index: 9001;
            }
        }

        .target-cover {
            z-index: 11000;

            &:hover {
                box-shadow: 0 0 5px 2px orangered;
            }
        }
    }
}

.hats {
    position: absolute;

    .stack {
        position: absolute;
        bottom: -4px;
    }

    .hat {
        display: block;
        position: relative;
        width: 22px;
        margin-top: -7px;
    }
}

.gamelog {
    h2 {
        color: black;
        background-color: inherit;
        text-align: center;
        font-size: large;
        margin: 1em;
    }

    .overview {
        text-align: center;

        .score {
            display: inline-block;
            font-family: 'TF2', sans-serif;
            font-size: 90px;
            border-radius: 5px;
            width: 3em;
            color: white;

            &.blue-team {
                background-color: @blueteam;
                border-right: 0;
                border-top-right-radius: 0;
                border-bottom-right-radius: 0;
            }

            &.red-team {
                background-color: @redteam;
                border-left: 0;
                border-top-left-radius: 0;
                border-bottom-left-radius: 0;
            }
        }
    }

    .deltas {
        font-weight: bold;

        span {
            margin-right: 1em;
        }
    }

    .content .generic-table {
        margin: 0 auto;
    }

    p.nextprev {
        text-align: center;
    }
}

.gamelogentry td {
    font-size: small;
    text-align: left;
    padding: 2px 10px;

    .interaction {
        background: #bfb6a3;
        border-radius: 5px;
        height: 30px;
        line-height: 30px;

        &.self {
            background: #f7ebd2;
        }
    }

    .actor {
        display: inline-block;
        padding: 0 5px;
        font-weight: bold;
    }

    img {
        vertical-align: middle;
        margin-right: 5px;
    }

    .team-blue {
        color: @blueteam;

        a {
            color: inherit;
        }
    }

    .team-red {
        color: @redteam;

        a {
            color: inherit;
        }
    }
}

.entry.effect-chirality {
    .md {
        text-align: right;
    }
}

.entry.effect-compensation {
    .md {
        font-size: 2em;
    }

    .author {
        font-size: .5em;
    }
}

.entry.effect-flattened {
    .md {
        white-space: nowrap;

        * {
            display: inline
        }

        br {
            display: none;
        }
    }
}

.entry.effect-inversion {
    .md {
        text-align: right;
        .transform(scaleX(-1) scaleY(-1));
        -ms-filter: flipv fliph;
        filter: flipv fliph;
    }
}

.entry.effect-shrouded {
    .md {
        background: #111;
        border-radius: 5px;
        text-shadow: 0 0 8px rgba(255, 255, 255, .5);
    }
}

.md {
    .effect-redacted {
        background: black;
    }
}

.author-bauble {
    display: inline-block;
    width: 8px;
    height: 8px;
    border-radius: 10px;
    margin-left: 1px;
    margin-right: 3px;

    &.team-red {
        background-color: @redteam;
    }

    &.team-blue {
        background-color: @blueteam;
    }
}

.mouse-trail {
    position: fixed;
    width: 5px;
    height: 5px;
    border-radius: 5px;
    background: gold;
    box-shadow: 0 0 4px darken(gold, 10%);
    z-index: -1000;
}
