#inventory-panel {
    position: fixed;
    width: 200px;
    height: 400px;
    right: 0;
    bottom: 0;
    background: red;
}

#score-panel {
    position: fixed;
    width: 500px;
    height: 150px;
    right: 225px;
    bottom: 0;
    background: orange;
}
