reddit_f2p.egg-info
*.swp
*.swo
*.pyc
*.DS_Store
reddit_f2p/public/static/images/lg/
reddit_f2p/public/static/images/sm/
reddit_f2p/public/static/images/cur/
reddit_f2p/public/static/images/sil/
reddit_f2p/public/static/images/hat/
